<div class='row'>
	<div class='col s2 right'>
		<a href="/sessions/logout" class="btn waves-effect blue accent-2 waves-light">Log Out</a>
	</div>
</div>

<h5>Name: <%= @borrower.first_name %> <%= @borrower.last_name %></h5>
<h5>Amount Needed: $<%= @borrower.money %></h5>
<div class='row'>
	<div class='col s3'>
		<h5>Amount Raised: $<%= @total_raised %></h5>
	</div>
	<div class = 'col s4'>
		Progress Bar: <div id = "overall_bar">
		<div id ='progress' style='width: <%= @progress %>px'>
		</div>
	</div>
</div>
</div>

<h5>List of people who lend you money</h5>
<div class = "row">
	<div class = "col s7 offset-m1">
		<table>
			<thead>
				<tr>
					<th>Name</th>
					<th>Email</th>
					<th>Amount Lent</th>
				</tr>
			</thead>
			<tbody>
				<% @lent_from.each do |lender| %>
				<tr>
					<td><%= lender[0].first_name %> <%= lender[0].last_name %></td>
					<td><%= lender[0].email %></td>
					<td><%= lender[1] %></td>
				</tr>
				<% end %>
			</tbody>
		</table>
	</div>
</div>