
<div class='row'>
  <div class='col s2 push-s1'>
    <a href="/lenders/deposit" class="btn waves-effect green accent-4 waves-light">Add Money</a>
  </div>
  <div class='col s3 push-s1'>
    <a href="/lenders/history" class="btn waves-effect orange accent-3 waves-light">Transaction History</a>
  </div>
  <div class='col s2 right'>
    <a href="/sessions/logout" class="btn waves-effect blue accent-2 waves-light">Log Out</a>
  </div>
</div>

<h5 class="center style1"><span style="font-weight: bold">Account Balance:</span> $<%= @lender.money %></h5>
<h5 class='center style1' style="font-weight: bold">Requests</h5>

<div class = "row">
  <div class = "col s10 offset-m1">
    <table>
      <thead>
        <tr>
          <th class='center'>Borrower</th>
          <th class='center'>Purpose</th>
          <th class='center'>Description</th>
          <th class='center'>Amount Requested</th>
          <th class='center'>Amount Raised</th>
          <th class='center'>Action</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |request| %>
        <tr>
          <th class='center'><%= request.borrower.first_name %> <%= request.borrower.last_name %></th>
          <th class='center'><%= request.purpose %></th>
          <th class='center'><%= request.description %></th>
          <th class='center'>$ <%= request.money %></th>
          <th class='center'>
            <div class='row'>
              <div id = "mini_bar">
                <div id ='miniprogress' style='width: <%= request.money_raised * 125 / request.money %>px'>
                </div>
              </div>
            </div>
          </th>
            <th class='center'>
              <div class='row'>
                <% if request.money_raised >= request.money %>
                  <button class="btn waves-effect waves-light grey">Fully Funded</button>
                  <% else %>
                <form action = '/lenders/lend/<%= request.id %>' method = 'post'>
                  <input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
                  <input type='hidden' name='money_left' value='<%= request.money - request.money_raised %>'>
                  <input type='hidden' name='balance' value='<%= @balance %>'>
                  <select class = 'browser-default col s5 push-s1' name = 'amount'>
                    <option value="" disabled selected></option>
                    <option value="25">$25</option>
                    <option value="50">$50</option>
                    <option value="75">$75</option>
                    <option value="100">$100</option>
                  </select>
                  
                  <button class="btn waves-effect waves-light col s5 push-s2" type="submit" name="action">Lend</button>
                  <% end %>
                </form>
              </div>
            </div>
          </th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h5 class='center style1' style="font-weight: bold">Loans You've Made</h5>
<div class = "row">
  <div class = "col s10 offset-m1">
    <table>
      <thead>
        <tr>
          <th class='center'>Borrower</th>
          <th class='center'>Purpose</th>
          <th class='center'>Description</th>
          <th class='center'>Amount Requested</th>
          <th class='center'>Amount Raised</th>
          <th class='center'>Amount You Lent</th>
        </tr>
      </thead>
      <tbody>
        <% @lent_to.each do |borrower| %>
        <tr>
          <th class='center'><%= borrower[0].borrower.first_name %> <%= borrower[0].borrower.last_name %></th>
          <th class='center'><%= borrower[0].purpose %></th>
          <th class='center'><%= borrower[0].description %></th>
          <th class='center'>$ <%= borrower[0].money %></th>
          <th class='center'>$ <%= borrower[0].money_raised %></th>
          <th class='center'>$ <%= borrower[1] %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<h5 class='center style1' style="font-weight: bold">Fully Paid Back</h5>
<div class = "row">
  <div class = "col s6 push-s3">
    <table>
      <thead>
        <tr>
          <th class='center'>Borrower</th>
          <th class='center'>Amount Received</th>
        </tr>
      </thead>
      <tbody>
        <% @paid_back.each do |borrower| %>
        <tr>
          <th class='center'><%= borrower[0].borrower.first_name %> <%= borrower[0].borrower.last_name %></th>
          <th class='center'>$ <%= borrower[1] %></th>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>